{% extends "layouts/root_layout.html" %}
{% load static %}

{% block slot %}
   <div class="p-3 col-start-2 col-span-1 bg-white flex-1 rounded-lg shadow-card overflow-hidden space-y-3">
      <!-- Store front -->
      <section class="rounded-lg border border-gray-200">
         <div class="w-full aspect-[3/1] rounded-t-lg overflow-hidden bg-[#EAE9E5]">
            <img src="{{ store.cover.url }}"
                 alt="Store cover"
                 width="1280"
                 height="720"
                 class="w-full h-full object-cover" />
         </div>

         <div class="px-4 rounded-md">
            <div class="flex items-end gap-x-8">
               <!-- Logo -->
               <div class="relative flex-shrink-0 w-48">
                  <div class="p-1 absolute inset-x-0 bottom-0 aspect-[1/1] overflow-hidden rounded-full bg-white">
                     <img src="{{ store.logo.url }}"
                          alt="Store logo"
                          width="256"
                          height="256"
                          class="object-cover rounded-full border border-gray-200" />
                  </div>
               </div>

               <!-- Info -->
               <div class="py-10 w-full flex items-center justify-between gap-x-8 leading-none">
                  <div class="flex flex-col gap-y-1.5">
                     <h2 class="text-2xl font-bold text-foreground">{{ store.name }}</h2>
                     <div class="flex items-center gap-x-2">
                        <p class="text-foreground">@{{ store.slug }}</p>
                        <span class="size-1.5 rounded-full flex-shrink-0 bg-gray-300"></span>
                        <p>
                           <span class="font-semibold text-foreground">{{ store.total_followers }}</span>
                           <span>Followers</span>
                        </p>
                     </div>
                  </div>

                  <form method="post">
                     {% csrf_token %}
                     <button class="font-semibold bg-primary text-lg text-white px-5 py-2 rounded-full">Follow</button>
                  </form>
               </div>
            </div>
         </div>
      </section>

      <!-- Store content slot -->
      <main class="space-y-6 rounded-lg">
         {% block store_content_slot %}
            <div class="p-4 text-lg font-semibold bg-white rounded-md space-y-4 border border-gray-100">
               <h2 class="text font-bold text-foreground">Collection Name</h2>
               <main class="grid grid-cols-4 gap-x-5 text-sm">
                  {% include "snippets/MinimalProductCard.html" %}
                  {% include "snippets/MinimalProductCard.html" %}
                  {% include "snippets/MinimalProductCard.html" %}
                  {% include "snippets/MinimalProductCard.html" %}
               </main>
            </div>
         {% endblock store_content_slot %}
      </main>
   </div>
{% endblock slot %}
