{% extends "layouts/root_layout.html" %}
{% block slot %}
    <main class="p-6 col-start-2 col-span-1 bg-white flex-1 rounded-lg shadow-card">
        <div class="w-full  grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex gap-3 w-full">
                <div class="w-36 flex flex-col gap-2">
                    <img height="full"
                         width="full"
                         src="{{ p.image.url }}"
                         alt="{{ p.name }}"
                         class="object-cover rounded-lg border border-gray-100" />
                    <img height="full"
                         width="full"
                         src="{{ p.image.url }}"
                         alt="{{ p.name }}"
                         class="object-cover rounded-lg border border-gray-100" />
                    <img height="full"
                         width="full"
                         src="{{ p.image.url }}"
                         alt="{{ p.name }}"
                         class="object-cover rounded-lg border border-gray-100" />
                </div>
                <div class="aspect-[1/1] rounded-xl w-full border border-gray-100 overflow-hidden">
                    <img height="full"
                         width="full"
                         src="{{ p.image.url }}"
                         alt="{{ p.name }}"
                         class="h-full w-full object-cover" />
                </div>
            </div>
            <div class="flex flex-col justify-between">
                <h1 class="text-2xl font-bold text-foreground">{{ p.name }}</h1>
                <p class="my-6 text-xl text-foreground font-semibold">{{ p.price }} TK</p>
                <div class="text-md">
                    <p class="mb-2">
                        <span class="font-semibold text-foreground">Stock</span> : <span class="text-green-600">
                            {% if p.stock > 0 %}
                                Available
                            {% else %}
                                Out of Stock
                            {% endif %}
                        </span>
                    </p>
                    <p>
                        <span class="font-semibold text-foreground">SKU</span> : {{ p.sku }}
                    </p>
                </div>
                <div class="flex gap-3 my-6 font-semibold">
                    <button class="bg-primary hover:bg-primary/90 text-white rounded-full px-6 py-3 flex justify-center items-center gap-2 ">
                        {% include "icons/ShoppingCart.html" %}
                        Add to Cart
                    </button>
                    <button class="bg-gray-200 hover:bg-foreground text-gray-600 hover:text-white rounded-full px-6 py-3 flex justify-center items-center gap-2 group">
                        {% include "icons/love_sign.html" %}
                        Add to Wishlist
                    </button>
                </div>
                <div class="flex">
                    <div class="inline-flex pt-4 pr-6 gap-6 items-center border-t border-gray-200">
                        <img src="{{ p.collection.store.logo.url }}"
                             alt="{{ p.collection.store.name }}"
                             width="64"
                             height="64"
                             class="size-16 rounded-full bg-gray-200 flex-shrink-0" />
                        <div>
                            <p class="text-md font-bold text-gray-800">{{ p.collection.store.name }}</p>
                            <p class="text-sm font-bold">{{ p.collection.store.followers.count }} Followers</p>
                        </div>
                        <form method="post"
                              action="{% url 'toggle-follow-store' p.collection.store.slug %}">
                            {% csrf_token %}
                            <button class="font-semibold text-sm {% if request.user in p.collection.store.followers.all %}bg-muted text-foreground{% else %}bg-foreground text-white{% endif %} text-lg px-5 py-2 rounded-full">
                                {% if request.user in p.collection.store.followers.all %}
                                    Following
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-6 rounded-md my-6 md:my-12">
            <h2 class="text-lg font-bold text-gray-900 mb-4">Product Details</h2>
            <div class="markdown-content prose prose-h1:text-xl prose-h1:text-foreground prose-h1:font-bold prose-h1:mb-2 prose-ul:mt-2 prose-li:my-1 prose-th:font-bold prose-tr:border-gray-100">
                {{ p.description|safe }}
            </div>
        </div>
    </main>
{% endblock slot %}
