{% extends "layouts/dashboard_layout.html" %}
{% load static %}

{% block main %}
   <form method="post"
         enctype="multipart/form-data"
         class="p-4 space-y-5 col-start-2 col-span-1 bg-white/30 backdrop-blur-xl flex flex-col flex-1 rounded-lg shadow-card">
      {% csrf_token %}
      <header class="flex items-center justify-between">
         <div class="space-y-3">
            <h2 class="text-foreground text-xl font-bold leading-tight">
               {% if update %}
                  Update Product
               {% else %}
                  Add Product
               {% endif %}
            </h2>
            <p>
               {% if update %}
                  Update product details and information
               {% else %}
                  Add a new product to your store
               {% endif %}
            </p>
         </div>

         <button type="submit"
                 class="btn btn-primary rounded-lg hover:shadow-lg hover:shadow-primary/30 hover:button-primary">
            Save Draft
         </button>
      </header>

      <main class="flex-1 grid gap-3 grid-cols-[1fr,24rem]">
         <section class="h-full space-y-3">
            <!-- General Information -->
            <div class="rounded-lg bg-white border border-gray-100 shadow-card">
               <header class="px-4 py-3 border-b border-gray-100 text-foreground font-semibold">
                  General Information
               </header>
               <main class="px-4 py-3 space-y-5">
                  <div class="space-y-2">
                     <label for="{{ form.name.id_for_label }}">Name</label>
                     {{ form.name }}
                     {% if form.name.errors %}<p class="text-red-500 text-sm">{{ form.name.errors.0 }}</p>{% endif %}
                  </div>

                  <div class="grid grid-cols-[1fr,1fr,2fr] gap-3">
                     <div class="space-y-2">
                        <label for="{{ form.price.id_for_label }}">Price</label>
                        {{ form.price }}
                        {% if form.price.errors %}<p class="text-red-500 text-sm">{{ form.price.errors.0 }}</p>{% endif %}
                     </div>

                     <div class="space-y-2">
                        <label for="{{ form.stock.id_for_label }}">Stock</label>
                        {{ form.stock }}
                        {% if form.stock.errors %}<p class="text-red-500 text-sm">{{ form.stock.errors.0 }}</p>{% endif %}
                     </div>

                     <div class="space-y-2">
                        <label for="{{ form.sku.id_for_label }}">SKU</label>
                        {{ form.sku }}
                        {% if form.sku.errors %}<p class="text-red-500 text-sm">{{ form.sku.errors.0 }}</p>{% endif %}
                     </div>
                  </div>

               </main>
            </div>

            <!-- Description -->
            <div class="rounded-lg bg-white border border-gray-100 shadow-card">
               <label for="{{ form.description.id_for_label }}"
                      class="block px-4 py-3 border-b text-base border-gray-100 text-foreground font-semibold">
                  Description
               </label>

               <div class="space-y-2 overflow-hidden">
                  {{ form.description }}
                  {% if form.description.errors %}<p class="text-red-500 text-sm">{{ form.description.errors.0 }}</p>{% endif %}
               </div>
            </div>
         </section>

         <section class="h-full space-y-5">
            <!-- Images -->
            <div class="rounded-lg bg-white border border-gray-100 shadow-card">
               <header class="px-4 py-3 border-b border-gray-100 text-foreground font-semibold">
                  Images
               </header>

               <main class="p-4 space-y-2 text-sm">
                  <div class="relative min-h-28 flex-center rounded-lg overflow-hidden">
                     <div class="absolute inset-0 flex-center pointer-events-none bg-gray-100 rounded-lg">
                        <div class="space-y-1 text-center">
                           <img src="{% static 'images/uploadImage.svg' %}"
                                height="32"
                                width="32"
                                class="mx-auto h-8 w-8 text-gray-400 pointer-events-none"
                                alt="Upload icon" />

                           <p class="pointer-events-none text-sm text-center w-full">Upload main image</p>
                           <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB each</p>
                        </div>
                     </div>

                     {{ form.image }}

                     <img src="{{ form.image.value.url }}"
                          width="512"
                          height="512"
                          alt="Product image preview"
                          class="{% if not update %}hidden{% endif %} main-image-preview w-full rounded-md object-contain relative pointer-events-none" />
                  </div>

                  <div class="relative h-28 w-full overflow-hidden space-y-2">
                     <div id="imagePreviewContainer"
                          class="hidden h-full grid-cols-3 justify-center gap-x-2"></div>

                     <input type="file"
                            name="images"
                            id="id_images"
                            accept="image/*"
                            multiple
                            onchange="displayImages(this)"
                            class="absolute inset-0 opacity-0" />

                     <div class="p-6 h-full flex-center gap-x-2 rounded-md overflow-hidden bg-gray-100">
                        <img src="{% static 'images/uploadImage.svg' %}"
                             height="24"
                             width="24"
                             class="size-6 text-gray-400 pointer-events-none"
                             alt="Upload icon" />
                        <p>Add more images (max 3)</p>
                     </div>
                  </div>
                  <p id="imageError" class="text-red-500 text-sm hidden">Maximum 3 additional images allowed</p>
               </main>
            </div>

            <!-- Categorory -->
            <div class="rounded-lg bg-white border border-gray-100 shadow-card">
               <header class="px-4 py-3 border-b border-gray-100 text-foreground font-semibold">
                  Categorory
               </header>
               <main class="px-4 py-3 space-y-5">
                  <div class="space-y-2">
                     <label for="{{ form.category.id_for_label }}">Category</label>
                     {{ form.category }}
                  </div>

                  <div class="space-y-2">
                     <label for="{{ form.collection.id_for_label }}">Collection</label>
                     {{ form.collection }}
                     {% if form.collection.errors %}<p class="text-red-500 text-sm">{{ form.collection.errors.0 }}</p>{% endif %}
                     <div class="mt-2">
                        <label for="{{ form.new_collection_name.id_for_label }}">Or create new collection</label>
                        {{ form.new_collection_name }}
                        {% if form.new_collection_name.errors %}
                           <p class="text-red-500 text-sm">{{ form.new_collection_name.errors.0 }}</p>
                        {% endif %}
                     </div>
                  </div>
               </main>
            </div>
         </section>
      </main>
   </form>
{% endblock main %}

{% block scripts %}
   <script>
   function displayImages(input) {
      const container = document.getElementById('imagePreviewContainer');
      const imageError = document.getElementById('imageError');
      
      container.innerHTML = '';

      if (input.files.length > 3) {
         input.value = '';
         imageError.classList.remove('hidden');
         container.classList.add('hidden');
         return;
      }

      if (input.files.length === 0) {
         container.classList.add('hidden');
         return;
      }

      container.classList.remove('hidden');
      container.classList.add('grid');

      Array.from(input.files).forEach(file => {
         const reader = new FileReader();
         const div = document.createElement('div');
         div.className = 'aspect-[1/1] bg-gray-100 rounded-md overflow-hidden';
         
         reader.onload = e => {
            div.innerHTML = `<img width="84" height="84" src="${e.target.result}" class="size-full object-cover" />`;
            container.appendChild(div);
         };
         reader.readAsDataURL(file);
      });
   }
   </script>
{% endblock scripts %}
