{% load static %}

<div class="relative flex-center bg-[#EAE9E5] rounded-lg p-4 aspect-[1/1.25] overflow-hidden">
   <img src="{% static 'images/Dress.svg' %}"
        alt="Product image"
        width="100"
        height="100"
        class="w-full h-full" />

   <div class="p-3 absolute bottom-0 inset-x-0 bg-gradient-to-t from-foreground/40 to-transparent text-sm">
      <h1 class="text-white text-base font-semibold">Product name</h1>
      <p class="text-white text-sm">BDT 200</p>
   </div>
</div>
