<div class="rounded-lg space-y-3">
   <div class="relative rounded-lg group overflow-hidden">
      <img class="rounded-lg object-cover"
           height="512"
           width="512"
           src="{{ product.image.url }}"
           alt="{{ product.name }}" />

      <a href="{% url 'toggle-wishlist' product.id %}"
         class="size-6 block absolute top-3 right-3 z-10 hover:scale-110 transition-transform">
         {% if product.id in wishlist_products %}
            {% include "icons/love_sign.html" with active=True %}
         {% else %}
            {% include "icons/love_sign.html" %}
         {% endif %}
      </a>

      <div class="p-3 py-2 bg-white/75 backdrop-blur-sm rounded-full absolute left-1/2 -translate-x-1/2 flex items-center gap-x-1 text-sm text-foreground top-full group-hover:-translate-y-12 transition-all duration-300">
         <img width="20"
              height="20"
              src="{{ product.collection.store.logo.url }}"
              alt="{{ product.collection.store.name }}"
              class="size-5 rounded-full" />
         <p>{{ product.collection.store.name }}</p>
      </div>
   </div>

   <div class="flex flex-col gap-y-1 text-sm justify-between font-semibold">

      <p>{{ product.name }}</p>
      <div class="flex items-center justify-between">
         <p>
            ৳<span class="font-semibold text-foreground">{{ product.price }}</span>
         </p>
      </div>
   </div>

</div>
