{% load static %}

<div class="store-page p-6 max-w-screen-md space-y-5">
   <div class="rounded-lg">
      <div class="w-full aspect-[3/1] rounded-t-lg overflow-hidden bg-[#EAE9E5]">
         <img src="{% static 'images/StoreCover.svg' %}"
              alt="Store cover"
              width="1280"
              height="720"
              class="store-cover-preview w-full h-full object-cover" />
      </div>

      <header class="pl-6 rounded-b-md border border-t-0">
         <div class="flex items-end gap-x-6">
            <!-- Logo -->
            <div class="relative flex-shrink-0 w-40">
               <div class="absolute left-0 bottom-0 p-1 flex-shrink-0 size-40 rounded-full bg-white z-10">
                  <div class="relative size-full rounded-full bg-[#f0f0f0] border-2 border-stone-200 flex-center overflow-hidden">
                     <img src="{% static 'images/StoreLogo.svg' %}"
                          alt="Store logo"
                          width="80"
                          height="80"
                          class="size-20 object-contain" />

                     <img src=""
                          width="256"
                          height="256"
                          alt="Store logo preview"
                          class="store-logo-preview absolute w-full h-full object-cover hidden" />
                  </div>
               </div>
            </div>

            <!-- Info -->
            <div class="py-6 flex items-center w-full leading-none">
               <div class="flex flex-col">
                  <h2 id="store-name-preview" class="text-2xl font-bold text-foreground">Store Name</h2>
                  <div class="flex items-center gap-x-2">
                     <p class="text-foreground">
                        @<span id="store-slug-preview">storename</span>
                     </p>
                     <span class="size-1.5 rounded-full flex-shrink-0 bg-gray-300"></span>
                     <p>
                        <span class="font-semibold text-foreground">12K</span>
                        <span>Followers</span>
                     </p>
                  </div>
               </div>
            </div>
         </div>

         <div class="px-3 mt-2 py-2 flex items-center justify-between gap-x-6 border-t">
            <nav class="flex items-center gap-x-8">
               <p class="text-foreground cursor-pointer">Home</p>
               <p class="text-gray-600 cursor-pointer">Collections</p>
               <p class="text-gray-600 cursor-pointer">About</p>
            </nav>
            <button class="font-semibold bg-primary text-white px-4 py-2 rounded-lg">Follow</button>
         </div>
      </header>
   </div>

   <main class="p-2 rounded-lg bg-gray-100 space-y-6">
      {% block collections %}
         <div class="p-4 text-lg font-semibold bg-white rounded-md space-y-4">
            <h2 class="text font-bold text-foreground">Collection Name</h2>
            <main class="grid grid-cols-4 gap-x-5 text-sm">
               {% include "snippets/MinimalProductCard.html" %}
               {% include "snippets/MinimalProductCard.html" %}
               {% include "snippets/MinimalProductCard.html" %}
               {% include "snippets/MinimalProductCard.html" %}
            </main>
         </div>
      {% endblock collections %}
   </main>
</div>
