{% extends "layouts/root_layout.html" %}

{% block slot %}
<section class="col-start-2 col-span-1 bg-white flex rounded-lg shadow-card">
   <section class="w-full rounded-lg overflow-hidden">
      <div class="ml-10 mt-10">
         <h3 class="font-bold text-black text-xl">Inventory</h3>
         <p>Manage product stock levels,availability,variants</p>
      </div>
      <div class="flex justify-between ml-10 mt-8 mr-5">
         <h3 class="font-bold text-black text-xl">All Products 15</h3>
         <div class="gap-2">
            <input class="bg-[url('/static/images/Search.svg')] bg-no-repeat bg-[length:16px_16px] bg-[left_8px_center] w-[384px] h-[40px] pl-7 rounded-md" placeholder="search" type="search" name="" id="">
            <button class="btn w-[96px] h-[40px] rounded-md border-2 border-gray-400">Filters</button>
            <button class="btn bg-blue-500 text-white  w-[138px] h-[40px] rounded-md">+ Add Product</button>
         </div>
      </div>
      <div class="flex ml-10 mt-8">
         <input class="mr-4 flex items-center" type="checkbox" name="" id="">
         <p class="mr-44 text-black">Product Details</p>
         <p class="mr-44 text-black">Unit Price</p>
         <p class="mr-44 text-black">Stock</p>
         <p class="mr-44 text-black">Sales</p>
         <p class="mr-44 text-black">Visibility</p>
         <p class="mr-5 text-black">
            <button class="flex items-center justify-center w-10 h-10 rounded-full text-gray-600 text-xl font-bold hover:bg-gray-300 transform rotate-90">
               ...
             </button>
         </p>
      </div>
      <div class=" h-[32px] mt-8 ml-10 mr-8 bg-gray-100">
         <h5 class="pl-3 mt-1 text-black">Collection name(5)</h5>
      </div>
      {% comment %}-------------------------------------------- product line------------------------------------------------ {% endcomment %}
      <div class="flex items-center ml-10 mt-8">
         <input class="mr-4 flex items-center" type="checkbox" name="" id="">
         <img class="w-[48px] h-[48px] rounded-md bg-gray-200 mr-3" src="" alt="">
         <div class="mr-14">
            <p>Product name</p>
            <p>PRODUCT-SKU</p>
         </div>
         <P class="mr-20 ml-14">12540 BDT</P>
         <P class="mr-24 ml-24">12</P>
         <P class="mr-20 ml-24">120</P>
         <div class="mr-20 ml-28">
            <label class="relative inline-flex items-center cursor-pointer">
               <input type="checkbox" class="sr-only peer" />
               <div class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 rounded-full peer dark:bg-blue-400 peer-checked:bg-blue-400 transition-colors"></div>
               <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform peer-checked:translate-x-full"></div>
             </label>
         </div>
         <p class="ml-28">
            <button class="flex items-center justify-center w-10 h-10 rounded-full text-gray-600 text-xl font-bold hover:bg-gray-300 transform rotate-90">
               ...
             </button>
         </p>
      </div>
      <div class="flex items-center ml-10 mt-8">
         <input class="mr-4 flex items-center" type="checkbox" name="" id="">
         <img class="w-[48px] h-[48px] rounded-md bg-gray-200 mr-3" src="" alt="">
         <div class="mr-14">
            <p>Product name</p>
            <p>PRODUCT-SKU</p>
         </div>
         <P class="mr-20 ml-14">12540 BDT</P>
         <P class="mr-24 ml-24">12</P>
         <P class="mr-20 ml-24">120</P>
         <div class="mr-20 ml-28">
            <label class="relative inline-flex items-center cursor-pointer">
               <input type="checkbox" class="sr-only peer" />
               <div class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 rounded-full peer dark:bg-blue-400 peer-checked:bg-blue-400 transition-colors"></div>
               <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform peer-checked:translate-x-full"></div>
             </label>
         </div>
         <p class="ml-28">
            <button class="flex items-center justify-center w-10 h-10 rounded-full text-gray-600 text-xl font-bold hover:bg-gray-300 transform rotate-90">
               ...
             </button>
         </p>
      </div>
      <div class="flex items-center ml-10 mt-8">
         <input class="mr-4 flex items-center" type="checkbox" name="" id="">
         <img class="w-[48px] h-[48px] rounded-md bg-gray-200 mr-3" src="" alt="">
         <div class="mr-14">
            <p>Product name</p>
            <p>PRODUCT-SKU</p>
         </div>
         <P class="mr-20 ml-14">12540 BDT</P>
         <P class="mr-24 ml-24">12</P>
         <P class="mr-20 ml-24">120</P>
         <div class="mr-20 ml-28">
            <label class="relative inline-flex items-center cursor-pointer">
               <input type="checkbox" class="sr-only peer" />
               <div class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 rounded-full peer dark:bg-blue-400 peer-checked:bg-blue-400 transition-colors"></div>
               <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform peer-checked:translate-x-full"></div>
             </label>
         </div>
         <p class="ml-28">
            <button class="flex items-center justify-center w-10 h-10 rounded-full text-gray-600 text-xl font-bold hover:bg-gray-300 transform rotate-90">
               ...
             </button>
         </p>
      </div>
      <div class="flex items-center ml-10 mt-8">
         <input class="mr-4 flex items-center" type="checkbox" name="" id="">
         <img class="w-[48px] h-[48px] rounded-md bg-gray-200 mr-3" src="" alt="">
         <div class="mr-14">
            <p>Product name</p>
            <p>PRODUCT-SKU</p>
         </div>
         <P class="mr-20 ml-14">12540 BDT</P>
         <P class="mr-24 ml-24">12</P>
         <P class="mr-20 ml-24">120</P>
         <div class="mr-20 ml-28">
            <label class="relative inline-flex items-center cursor-pointer">
               <input type="checkbox" class="sr-only peer" />
               <div class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 rounded-full peer dark:bg-blue-400 peer-checked:bg-blue-400 transition-colors"></div>
               <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform peer-checked:translate-x-full"></div>
             </label>
         </div>
         <p class="ml-28">
            <button class="flex items-center justify-center w-10 h-10 rounded-full text-gray-600 text-xl font-bold hover:bg-gray-300 transform rotate-90">
               ...
             </button>
         </p>
      </div>
      <div class="flex items-center ml-10 mt-8">
         <input class="mr-4 flex items-center" type="checkbox" name="" id="">
         <img class="w-[48px] h-[48px] rounded-md bg-gray-200 mr-3" src="" alt="">
         <div class="mr-14">
            <p>Product name</p>
            <p>PRODUCT-SKU</p>
         </div>
         <P class="mr-20 ml-14">12540 BDT</P>
         <P class="mr-24 ml-24">12</P>
         <P class="mr-20 ml-24">120</P>
         <div class="mr-20 ml-28">
            <label class="relative inline-flex items-center cursor-pointer">
               <input type="checkbox" class="sr-only peer" />
               <div class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 rounded-full peer dark:bg-blue-400 peer-checked:bg-blue-400 transition-colors"></div>
               <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform peer-checked:translate-x-full"></div>
             </label>
         </div>
         
         <p class="ml-28">
            <button class="flex items-center justify-center w-10 h-10 rounded-full text-gray-600 text-xl font-bold hover:bg-gray-300 transform rotate-90">
               ...
             </button>
         </p>
      </div>

      {% comment %} fixed insert-0 --------------------------- page change button--------------------------------------- {% endcomment %}

      <div class=" flex items-end justify-center gap-2 mb-7 mt-5">
         <button class="w-[26px] h-[26px] rounded-md bg-gray-200">1</button>
         <button class="w-[26px] h-[26px] rounded-md bg-gray-200">2</button>
         <button class="w-[26px] h-[26px] rounded-md bg-gray-200">3</button>
         <button class="w-[26px] h-[26px] rounded-md bg-gray-200">4</button>
         <button class="w-[26px] h-[26px] rounded-md bg-gray-200">5</button>
         <button class="w-[26px] h-[26px] rounded-md bg-gray-200">6</button>
      </div>
      
   </section>
   
</section>
{% endblock slot %}
