{% extends "layouts/store_layout.html" %}

{% block store_content_slot %}
   {% for collection in collections %}
      <div class="p-4 text-lg font-semibold bg-white rounded-md space-y-4 shadow-lg border border-gray-100">
         <h2 class="text font-bold text-foreground">{{ collection.name }}</h2>
         <main class="grid grid-cols-4 gap-x-5 text-sm">
            {% for product in collection.products.all %}
               {% include "snippets/MinimalProductCard.html" with product=product %}
            {% endfor %}
         </main>
      </div>
   {% endfor %}
{% endblock store_content_slot %}
